<footer class="footer p-10 bg-base-300 text-base-content text-base mt-24">
  <div>
    <p>
      <span class="text-2xl font-bold"><%= @sitename %></span>
      <br>

      <span class="opacity-50">
        LE PLATEAU
        <br>
        Pôle de développement de l’entrepreneuriat 
        de l’EPT Grand Paris Grand Est
        <br>
        106-112 allée Notre Dame des Anges,
        <br>
        93370 Montfermeil
        <br>
        Siret : 384 396 719 00047
        <br>
        APE : 5829C
      </span>
    </span>
  </div>
  <div class="mx-auto text-center sm:text-left">
    <span class="footer-title mx-auto">Navigation</span>
    <div class="flex justify-between gap-8">
      <ul>
        <%= navbar_item 'home', root_path, 'Accueil', 'underline-offset-4 mb-1' %>
        <%= navbar_item 'a_propos', a_propos_path, 'À propos', 'underline-offset-4 mb-1' %>
        <%= navbar_item 'nos_clients', nos_clients_path, 'Clients', 'underline-offset-4 mb-1' %>
        <%= navbar_item 'portfolio', portfolio_path, 'Portfolio', 'underline-offset-4 mb-1' %>
        <%= navbar_item 'partenaires', partenaires_path, 'Partners', 'underline-offset-4 mb-1' %>
      </ul>
      <ul>
        <%= navbar_item 'services', services_path, 'Services', 'underline-offset-4 mb-1' %>
        <%= navbar_item 'apps', apps_path, 'Apps', 'underline-offset-4 mb-1' %>
        <%= navbar_item 'blog', blog_path, 'Blog', 'underline-offset-4 mb-1' %>
        <%= navbar_item 'contact', contact_path, 'Contact', 'underline-offset-4 mb-1' %>
        <%= navbar_item 'rechercher', rechercher_path, 'Rechercher', 'underline-offset-4 mb-1' %>
      </ul>
    </div>
  </div> 
  <div class="mx-auto text-center sm:text-left">
    <span class="footer-title mx-auto sm:mx-0">Nos apps</span>
    <ul>
      <%= navbar_item 'planning', planning_path, 'Planning IAE', 'underline-offset-4 mb-1' %>
      <%= navbar_item 'camino', camino_path, 'Camino', 'underline-offset-4 mb-1' %>
      <%= navbar_item 'prestofacto', prestofacto_path, 'PrestoFacto', 'underline-offset-4 mb-1' %>
      <%= navbar_item 'crystal_data', crystal_data_path, 'Crystal Data', 'underline-offset-4 mb-1' %>
    </ul>
  </div>
</footer>
<footer class="footer px-10 py-6 border-t bg-base-content text-neutral-content border-base-300">
  <span class="inline">
    Copyright © 2023 - Tout droits réservés -
    <%= link_to "Mentions Légales", mentions_legales_path, class:'hover:underline' %>
  </span>
  <div class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <%= mail_to "contact@philnoug.com" do %>
        <i class="fa-solid fa-envelope fa-2xl"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/philnoug", target: "_blank" do %>
        <i class="fa-brands fa-linkedin fa-2xl"></i>
      <% end %>
      <%= link_to "https://github.com/philippe-nougaillon", target: "_blank" do %>
        <i class="fa-brands fa-github fa-2xl"></i>
      <% end %>
    </div>
  </div>
</footer>