<div class="navbar bg-base-100 sticky top-0 z-50">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <%= navbar_item 'projets', projets_path %>
      </ul>
    </div>
    
    <%= link_to @sitename, root_path, class: 'btn btn-ghost normal-case text-xl text-ternary' %>
  </div>

  <div class="navbar-end lg:mr-6">
    <ul class="menu menu-horizontal p-0">
      <%= navbar_item 'À propos', a_propos_path %>
      <% if user_signed_in? %>
        <%= navbar_item 'projets', projets_path %>
      <% end %>
    </ul>
    <%= render "partials/theme" %>
    <div class="dropdown dropdown-end">
      <div tabindex="0" class="avatar offline placeholder cursor-pointer">
        <div class="bg-primary-focus text-neutral-content rounded-full w-8">
          <i class="fa-solid fa-user text-white"></i>
        </div>
      </div>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-60">
        <li>
          <%= link_to contact_path, class:"btn-ghost" do %>
            <i class="fa-solid fa-comment-dots"></i> Nous contacter
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li data-turbo="false">
            <%= button_to destroy_user_session_path, method: :delete do %>
              <i class="fa-solid fa-right-from-bracket ml-1 mr-1"></i> Déconnexion
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>