<div class="text-center">
  <h1 class="font-bold text-4xl lg:text-5xl text-accent pt-8">
    <i>Nos logiciels Open Source</i>
  </h1>

  <h2 class="xl:text-2xl mt-6 px-10 mb-6">
    Nous avons produit plusieurs logiciels libres, publiés en Open-Source,
    en assurons la maintenance et l'évolution
    pour le compte d'entités publiques et d'un établissement de l'enseignement supérieur
  </h3>
</div>

<div class="flex flex-col justify-between gap-4 md:gap-8 lg:gap-16 mx-4 md:mx-8 lg:mx-16 my-6">
  <div class="flex flex-wrap justify-between w-full gap-4 md:gap-8 lg:gap-16">
    <%= link_to planning_path, class:"flex-1 min-w-fit sm:min-w-min" do %>
      <div class="mt-3">
        <div class="card shadow hover:shadow-xl cursor-pointer duration-300 bg-white">
          <%= image_tag "projets/planning iae-paris/screen_0.png", class:"object-fill w-full" %>
          <div class="card-body">
            <hr>
            <h2 class="card-title text-primary underline underline-offset-8">
              PLANNING IAE
            </h2>
            <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-bold first-letter:mr-3 first-letter:float-left">
              Logiciel libre et coopératif de gestion de planification de salles, 
              à l’usage d’établissement de l’enseignement supérieur
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to camino_path, class:"flex-1 min-w-fit sm:min-w-min" do %>
      <div class="mt-3">
        <div class="card shadow hover:shadow-xl cursor-pointer duration-300 bg-white">
          <%= image_tag "projets/camino/screen_0.png", class:"object-fill w-full" %>
          <div class="card-body">
            <hr>
            <h2 class="card-title text-primary underline underline-offset-8">
              CAMINO
            </h2>
            <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-bold first-letter:mr-3 first-letter:float-left">
              Application Web de gestion de grands projets, en équipe et en mobilité
              <br><br>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="flex flex-wrap justify-between w-full gap-4 md:gap-8 lg:gap-16">

    <%= link_to prestofacto_path, class:"flex-1 min-w-fit sm:min-w-min" do %>
      <div class="card shadow hover:shadow-xl cursor-pointer duration-300 bg-white h-full">
        <%= image_tag "projets/prestofacto/screen_0.png", class:"object-fill w-full" %>
        <div class="card-body">
          <hr>
          <h2 class="card-title text-primary underline underline-offset-8">
            PrestoFacto
          </h2>
          <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-bold first-letter:mr-3 first-letter:float-left">
            Application de gestion et de facturation des services journaliers
          </p>
        </div>
      </div>
    <% end %>

    <%= link_to crystal_data_path, class:"flex-1 min-w-fit sm:min-w-min" do %>
      <div class="card shadow hover:shadow-xl cursor-pointer duration-300 bg-white h-full">
        <%= image_tag "projets/crystal_data/screen_0.png", class:"object-fill w-full" %>
        <div class="card-body">
          <hr>
          <h2 class="card-title text-primary underline underline-offset-8">
            Crystal Data
          </h2>
          <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-bold first-letter:mr-3 first-letter:float-left">
            Application NO-CODE de base de données en ligne
          </p>
        </div>
      </div>
    <% end %>

  </div>

</div>