<% @posts.each do |post| %>
  <%= link_to post do %>
    <div class="my-6">
      <p class="text-sm opacity-70">
        <%= post.date.strftime("%d/%m/%Y") if post.date %>
      </p>
      <h2 class="text-3xl font-bold hover:underline">
        <%= post.title %>
      </h2>
      <div class="my-3">
        <% post.tag_list.each do |tag| %>
          <div class="badge badge-outline"><%= tag %></div>
        <% end %>
      </div>
      <p>
        <%= markdown(truncate(post.content,length: 220)) %>
      </p>
    </div>
    <div class="divider"></div> 

  <% end %>
<% end %>