<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">

    <%= image_tag 'lePlateau.webp', class: 'sm:max-w-full max-w-sm rounded-lg shadow-2xl' %>

    <div>

      <h1 class="text-4xl font-bold my-3">Qui sommes-nous ?</h1>
      <h1 class="text-3xl">Une SQUAD adepte de l'approche 'LEAN' pour vous accompagner dans votre transformation digitale</h1>
      
      <p class="py-6">
        Notre devise est 
        <span class="underline underline-offset-8">
          <%= "'Du client au code - du code au client !'".upcase %>
        </span>
        <small>(1)</small>
        <br><br>
        Spécialistes du développement logiciel, quand nous codons, nous codons utile et toujours en cherchant à transformer ce code en un processus-métier qui fait sens pour notre client.
      </p>
      
      <button class="btn btn-primary btn-outline">
        <%= link_to 'En savoir plus', "#part2" %>
      </button>
    </div>
  </div>
</div>

<div id="part2" class="hero min-h-screen bg-base-200 mt-16">
  <div class="p-6">

    <h2 class="text-3xl font-bold my-6 underline underline-offset-8">Qui sommes-nous ?</h2>

    <p class="mt-6 mb-3">
      Notre équipe regroupe Product Managers et Développeurs, passionnés d'Open-Source, 
      et plus particulièrement du framework Ruby on Rails. 
      Avec une expérience de plus de 20 ans dans le développement d'applications métiers (type 'ERP/CRM/BI'), 
      nous avons mené à bien d'importants projets dans des domaines variés tels que le suivi de production du déploiement de la fibre optique, 
      la gestion de la qualité des opérations de maintenance ferroviaire, etc...  
    </p>

    <h2 class="text-3xl font-bold my-6 underline underline-offset-8">Clients</h2>

    <p>
      <h3>Ils nous font confiance : </h3>
      <p class="font-bold">
        <%= Client.pluck(:name).join(', ') %>...
      <p>
    </p>

    <h2 class="text-3xl font-bold my-6 underline underline-offset-8">Récompenses</h2>

    <p>
      <b>2010 - Concours Smartphones SNCF/TGV Lab</b>
      <br>
      Direction d’un projet de développement d’une application mobile qui améliore la qualité de l’information
      transmise par les chefs de bord durant les trajets. 
      Pendant quatre semaines, sur les lignes TGV Paris-Lyon et Paris-Nantes, 14 chefs de bord ont testé sept applications
      avec les smartphones associés. Nous avons atteint la seconde place du podium.
      Développement sponsorisé par Research in Motion (BlackBerry).
    </p>

    <p class="mt-6">
      <b>2015 - Prix de l’Innovation VINCI/ETF</b>, catégorie Management, région Île de France. 
      <br>
      Conception et réalisation d’une application de suivi de la maintenance ferroviaire (AEMMS). 
    </p>

    <h2 class="text-3xl font-bold my-6 underline underline-offset-8">
      Nos projets Open-Source
    </h2>

    <p class="my-6">
      <p class="text-2xl font-bold">Camino</p> 
      <b>Gérer, en équipe et en mobilité, vos projets (Suivi d'interventions, GMAO, etc...)</b>
      <p>
        Découpez vos projets en listes de choses à faire, invitez vos contacts à participer, 
        assignez aux participants certaines choses à faire et fixez les échéances.
        Suivez l'activité des participants (commentaires, travaux terminés, etc.).
      </p>
      <%= link_to "github.com/Camino", "https://github.com/philippe-nougaillon/Camino2", class: "link", target: '_blank' %>
    </p>

    <p class="my-6">
      <p class="text-2xl font-bold">PrestoFacto</p> 
      <b>Application de facturation de services journaliers.</b>
      <p>
        Aide les petites organisations dans la gestion et la facturation de leurs prestations journalières (repas, activités...).
        Développement et maintenance depuis 2009 d’une application de facturation de cantine et autres prestations péri-scolaires, destinée aux petites collectivités, associations, mairies, écoles, etc.
      </p>
      <%= link_to "github.com/PrestoFacto", "https://github.com/philippe-nougaillon/PrestoFacto", class: "link", target: '_blank' %>
    </p>
       
    <p class="my-6">
      <p class="text-2xl font-bold">Crystal-Data</p> 
      <b>Vos données métier, en ligne et en mobilité !</b><br>
      Gestionnaire de bases de données en ligne, qui permet de créer des tables et formulaires, et de les partager en ligne et en mobilité.
      <br>
      <%= link_to "github.com/Crystal-Data", "https://github.com/philippe-nougaillon/crystal-data", class: "link", target: '_blank' %>
    </p>

    <p class="my-6">
      <p class="text-2xl font-bold">Planning</p>
      <b>Planning à l’usage d’un établissement de l’enseignement supérieur.</b><br>
      Plateforme de gestion des cours, intervenants, étudiants, états de services, etc…<br>
      <%= link_to "github.com/Planning", "https://github.com/philippe-nougaillon/Planning_IAE", class: "link", target: '_blank' %>
    </p>


    <h2 class="text-3xl font-bold my-6 underline underline-offset-8">Certifications OC</h2>
    <p>
      <b>Développement</b>
    </p>
    - Développez en C pour l’embarqué 
    - Lancez-vous dans la programmation avec Ruby 
    - Initiez-vous à Ruby on Rails 
    - Continuez avec Ruby on Rails 
    - Optimisez votre déploiement en créant des conteneurs avec Docker 
    - Construisez des Microservices 
    - Développez une application mobile React Native 
    - Organisez votre application avec la logique Redux 
    - Initiez-vous à Kotlin 
    <br>
    <br>

    <p>
      <b>Gestion de projet</b>
    </p>
    - Gérez votre projet avec une équipe Scrum
    - Passez à l’agilité à l’échelle 
    - Testez vos idées avec le lean prototyping
    <br>


    <hr class="mt-3">

    <h2 class="text-3xl font-bold my-6 underline underline-offset-8">
      Infos légales
    </h2>

    <p>
      Siret : 384 396 719 00047
      APE : 5829C
    </p>

    <hr class="mt-3">

    <h3 class="font-bold text-3xl my-6">
      Vous avez un projet à nous soumettre ?
    </h3>

    <button class="btn btn-primary btn-outline">
      <%= link_to 'nous contacter', contact_path %>
    </button>

  </div>
</div>

<p>
  <small>
    <i>
      (1) Devise empruntée à Yves CASEAU dans 
      <%= link_to "`L'approche LEAN pour la transformation digitale`", 
            "https://www.dunod.com/sciences-techniques/approche-lean-pour-transformation-digitale",
            target: '_blank' 
      %>
    </i>
  </small>
</p>