<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse gap-8">

    <%= image_tag 'lePlateau.webp', class: 'max-w-xs sm:max-w-full rounded-lg shadow-2xl' %>

    <div>

      <h1 class="text-4xl font-bold my-3">Qui sommes-nous ?</h1>
      <h1 class="text-3xl">Une SQUAD adepte de l'approche 'LEAN' pour vous accompagner dans votre transformation digitale</h1>
      
      <p class="py-6 reveal">
        Notre devise est 
        <span title="Devise empruntée à Yves CASEAU dans `L'approche LEAN pour la transformation digitale`">
          <%= "'Du client au code - du code au client !'".upcase %>
          <sup>*</sup>
        </span>
        <p class="reveal">
          Spécialistes du développement logiciel, quand nous codons,
          nous codons utile et toujours en cherchant à transformer ce code en un processus-métier qui fait sens pour notre client.
        </p>
      </p>
      
      <p class="reveal"><%= link_to 'En savoir plus', "#part2", class: 'btn btn-primary btn-outline mt-6' %></p>
    </div>
  </div>
</div>

<div id="part2" class="hero min-h-screen bg-base-200 mt-16 p-6">
  <div class="p-6">
    <h2 class="text-3xl font-bold my-6 underline underline-offset-8 reveal">Qui sommes-nous ?</h2>

    <p class="mt-6 mb-3 reveal">
      Notre équipe regroupe Product Managers et Développeurs, passionnés d'Open-Source, 
      et plus particulièrement du framework Ruby on Rails. 
      Avec une expérience de plus de 20 ans dans le développement d'applications métiers (type 'ERP/CRM/BI'), 
      nous avons mené à bien d'importants projets dans des domaines variés tels que le suivi de production du déploiement de la fibre optique, 
      la gestion de la qualité des opérations de maintenance ferroviaire, etc...  
    </p>

    <h2 class="text-3xl font-bold my-6 underline underline-offset-8 reveal">Clients</h2>

    <div class="reveal">
      <h3>Ils nous font confiance : </h3>
      <p class="font-bold">
        <%= Client.pluck(:name).join(', ') %>...
      </p>
    </div>

    <h2 class="text-3xl font-bold my-6 underline underline-offset-8 reveal">Récompenses</h2>

    <p class="reveal"><strong>2010 - Concours Smartphones SNCF/TGV Lab</strong></p>
    <p class="reveal">
      Direction d’un projet de développement d’une application mobile qui améliore la qualité de l’information
      transmise par les chefs de bord durant les trajets. 
      Pendant quatre semaines, sur les lignes TGV Paris-Lyon et Paris-Nantes, 14 chefs de bord ont testé sept applications
      avec les smartphones associés. Nous avons atteint la seconde place du podium.
      Développement sponsorisé par Research in Motion (BlackBerry).
    </p>

    <div class="mt-6">
      <p class="reveal"><strong>2015 - Prix de l’Innovation VINCI/ETF</strong>, catégorie Management, région Île de France.</p>
      <p class="reveal">Conception et réalisation d’une application de suivi de la maintenance ferroviaire (AEMMS).</p>
    </div>

    <h2 class="text-3xl font-bold my-6 underline underline-offset-8 reveal">
      Nos projets Open-Source
    </h2>

    <div class="my-6">
      <p class="text-2xl font-bold reveal">Camino</p> 
      <p class="reveal"><strong>Gérer, en équipe et en mobilité, vos projets (Suivi d'interventions, GMAO, etc...)</strong></p>
      <p class="reveal">
        Découpez vos projets en listes de choses à faire, invitez vos contacts à participer, 
        assignez aux participants certaines choses à faire et fixez les échéances.
        Suivez l'activité des participants (commentaires, travaux terminés, etc.).
      </p>
      <p class="reveal"><%= link_to "framalibre.org/camino", "https://framalibre.org/content/camino", class: "link", target: '_blank' %></p>
    </div>

    <div class="my-6">
      <p class="text-2xl font-bold reveal">PrestoFacto</p> 
      <p class="reveal"><strong>Application de facturation de services journaliers.</strong></p>
      <p class="reveal">
        Aide les petites organisations dans la gestion et la facturation de leurs prestations journalières (repas, activités...).
        Développement et maintenance depuis 2009 d’une application de facturation de cantine et autres prestations péri-scolaires, destinée aux petites collectivités, associations, mairies, écoles, etc.
      </p>
      <p class="reveal"><%= link_to "framalibre.org/prestofacto", "https://framalibre.org/content/prestofacto", class: "link", target: '_blank' %></p>
    </div>

    <div class="my-6">
      <p class="text-2xl font-bold reveal">Planning</p>
      <p class="reveal"><strong>Planning à l’usage d’un établissement de l’enseignement supérieur.</strong></p>
      <p class="reveal">
        Plateforme de gestion des cours, intervenants, étudiants, états de services, etc…
      </p>
      <p class="reveal"><%= link_to "github.com/Planning", "https://github.com/philippe-nougaillon/Planning_IAE", class: "link", target: '_blank' %></p>
    </div>

    <div class="my-6">
      <p class="text-2xl font-bold reveal">Crystal-Data</p> 
      <p class="reveal"><strong>Vos données métier, en ligne et en mobilité !</strong></p>
      <p class="reveal">
        Gestionnaire de bases de données qui permet de créer des tables et formulaires, et de les partager en ligne et en mobilité.
      </p>
      <p class="reveal"><%= link_to "github.com/Crystal-Data", "https://github.com/philippe-nougaillon/crystal-data", class: "link", target: '_blank' %></p>
    </div>

    <h2 class="text-3xl font-bold my-6 underline underline-offset-8 reveal">Certifications OC</h2>
    <p class="reveal"><strong>Développement</strong></p>
    <p class="reveal">
      - Développez en C pour l’embarqué 
      - Lancez-vous dans la programmation avec Ruby 
      - Initiez-vous à Ruby on Rails 
      - Continuez avec Ruby on Rails 
      - Optimisez votre déploiement en créant des conteneurs avec Docker 
      - Construisez des Microservices 
      - Développez une application mobile React Native 
      - Organisez votre application avec la logique Redux 
      - Initiez-vous à Kotlin 
    </p>
    <br>

    <p class="reveal"><strong>Gestion de projet</strong></p>
    <p class="reveal">
      - Gérez votre projet avec une équipe Scrum
      - Passez à l’agilité à l’échelle 
      - Testez vos idées avec le lean prototyping
    </p>


    <hr class="mt-3 reveal">

    <h2 class="text-3xl font-bold my-6 underline underline-offset-8 reveal">
      Infos légales
    </h2>

    <p class="reveal">
      Siret : 384 396 719 00047
      APE : 5829C
    </p>

    <hr class="mt-3 reveal">

    <div class="flex justify-center flex-col min-h-screen">
      <h2 class="font-bold text-5xl mb-16 text-center reveal">
        Vous avez un projet à nous soumettre ?
      </h2>

      <%= link_to 'nous contacter', contact_path, class: 'btn btn-primary btn-outline mx-auto reveal' %>
    </div>

  </div>
</div>