<div class="text-center">
  <h1 class="font-bold text-4xl text-accent pt-8">
    <i>Nos APPS</i>
  </h1>

  <h2 class="xl:text-2xl mt-6 px-10 mb-6">
    Nous avons produit plusieurs logiciels libres, publiés en Open-Source,
    <br>en assurons la maintenance et l'évolution
    <br>pour le compte d'entités publiques et d'un établissement de l'enseignement supérieur
  </h3>
</div>

<div class="flex flex-col justify-between gap-4 md:gap-8 lg:gap-16 mx-4 md:mx-8 lg:mx-16 my-6">
  <div class="flex flex-wrap justify-between w-full gap-4 md:gap-8 lg:gap-16">
    <%= link_to planning_path, class:"flex-1" do %>
      <div class="mt-3">
        <div class="card shadow hover:shadow-xl cursor-pointer duration-300 bg-white">
          <%= image_tag "projets/planning iae-paris/screen_0.png", class:"object-fill w-full", loading: "lazy" %>
          <div class="card-body">
            <hr>
            <h2 class="card-title text-primary underline underline-offset-8">
              PLANNING IAE
            </h2>
            <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-bold first-letter:mr-3 first-letter:float-left">
              Planning à l’usage d’un établissement de l’enseignement supérieur
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to camino_path, class:"flex-1" do %>
      <div class="mt-3">
        <div class="card shadow hover:shadow-xl cursor-pointer duration-300 bg-white">
          <%= image_tag "projets/camino/screen_0.png", class:"object-fill w-full", loading: "lazy" %>
          <div class="card-body">
            <hr>
            <h2 class="card-title text-primary underline underline-offset-8">
              CAMINO
            </h2>
            <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-bold first-letter:mr-3 first-letter:float-left">
              Gérer, en équipe et en mobilité, vos projets (Suivi d'interventions, GMAO, etc...)
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="flex flex-wrap justify-between w-full gap-4 md:gap-8 lg:gap-16">

    <%= link_to prestofacto_path, class:"flex-1" do %>
      <div class="card shadow hover:shadow-xl cursor-pointer duration-300 bg-white h-full">
        <%= image_tag "projets/prestofacto/screen_0.png", class:"object-fill w-full", loading: "lazy" %>
        <div class="card-body">
          <hr>
          <h2 class="card-title text-primary underline underline-offset-8">
            PrestoFacto
          </h2>
          <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-bold first-letter:mr-3 first-letter:float-left">
            Application de facturation de services journaliers
          </p>
        </div>
      </div>
    <% end %>

    <div class="flex-1 card shadow bg-white h-full">
      <div class="card-body flex-end">

        <h2 class="card-title text-primary underline underline-offset-8">
          <%= link_to 'Planning_IAE/Tableau-Affichage_REACT', 
                      'https://github.com/philippe-nougaillon/Planning_IAE-Tableau-Affichage_REACT',
                      target: '_blank' %>
        </h2>
        <p class="py-4">
          Tableau d'affichage des horaires de cours sur grands écrans
        </p>
        <hr>

        <h2 class="card-title text-primary underline underline-offset-8">
          <%= link_to 'Planning_IAE/Client Mobile_REACT', 
                      'https://github.com/philippe-nougaillon/Planning_IAE-Client-Mobile_REACT',
                      target: '_blank' %> 
        </h2>
        <p class="py-4">
          Client léger pour consulter le planning sur smartphone
        </p>
        <hr>
        
        <h2 class="card-title text-primary underline underline-offset-8">
          <%= link_to 'Planning_IAE/Client-Mobile_FLUTTER', 
                      'https://github.com/philippe-nougaillon/Planning_IAE-Client-Mobile_FLUTTER',
                      target: '_blank' %> 
        </h2>
        <p class="py-4">
          Application légère pour la consultation du planning des cours
        </p>
        <hr>

        <h2 class="card-title text-primary underline underline-offset-8">
          <%= link_to 'OpenCantine', 'https://github.com/philippe-nougaillon/open-cantine', target: '_blank' %>
        </h2>
        <p class="py-4">
          Application de facturation de prestations périscolaires
        </p>
        <hr>

        <h2 class="card-title text-primary underline underline-offset-8">
          <%= link_to 'Crystal RING', 'https://github.com/philippe-nougaillon/Crystal-Ring', target: '_blank' %>
        </h2>
        <p class="py-4">
          Workflow sur mesure de validation de factures
        </p>
        <hr>

      </div>
    </div>

  </div>

</div>