<div data-turbo="false">
  <%= form_tag do %>
    <div class="mx-auto md:w-1/2">
      <div class="card shadow mb-6">
        <div class="card-body">
          <h1 class="font-bold text-4xl"><i class="fa-solid fa-comment-dots"></i> Nous contacter</h1>
          <p>Vous avez une question, une remarque ou une demande à faire ? Remplissez ce formulaire et nous vous recontacterons dès que possible.</p>
          <hr class="mb-6">
          <div>
            <%= label_tag :objet, "Objet *" %>
            <%= text_field_tag :objet, params[:objet], class:"input input-sm input-bordered w-full", required: true %>
          </div>
          <div>
            <%= label_tag :email, "E-mail *" %>
            <%= email_field_tag :email, params[:email], class:"input input-sm input-bordered w-full", required: true %>
          </div>
          <div>
            <%= label_tag :contenu, "Message *" %>
            <%= text_area_tag :contenu, params[:contenu], class:"textarea textarea-bordered w-full", rows: 3, required: true %>
          </div>
        </div>
      </div>
        <%= submit_tag "Envoyer", class:"btn btn-secondary btn-outline btn-block mb-6" %>
    </div>
  <% end %>
</div>