<div class="text-center mb-16">
  <h1 class="font-bold text-4xl text-accent mb-6 pt-8">
    <i>Crystal Data</i>
  </h1>
  <h2 class="text-lg xl:text-2xl px-6">
    Vos données métier, en ligne et en mobilité
  </h2>
</div>

<%= image_tag "projets/crystal_data/screen_0.png", class:"px-10 w-3/4 mx-auto" %>

<div class="px-8">

  <p class="text-2xl font-bold my-8">
    Cette application NOCODE vous permet de créer des tables de données variées, et de les partager en ligne et en mobilité
  </p>

  <p class="text-xl">
    Pour en savoir plus, veuillez consulter
    <%= link_to "le guide d'utilisation", "https://crystal-data.philnoug.com/à_propos", class: 'link' %>
  </p>

  <h2 class="apps-title">Démonstration</h2>

  <p class="text-xl">
    Envie de tester l'application ?
    <%= link_to 'Lancer la démonstration', 'https://crystal-data.philnoug.com', class:'link', target: '_blank' %>
  </p>

  <h2 class="apps-title">Projet libre (Open-Source)</h2>
  <p>
    Les sources de ce projet sont disponibles ici :
    <%= link_to "https://github.com/philippe-nougaillon/crystal-data7", "https://github.com/philippe-nougaillon/crystal-data7", class:'link' %>
  </p> 

  <h2 class="apps-title">Développement, support et services</h2>
  <p>
    Crystal Data est développé et maintenu par 
    <%= link_to 'Philnoug & Partners', root_path, class:'link' %>
  </p>
</div>
