<section class="text-center mb-16">
  <h1 class="font-black text-5xl lg:text-6xl text-accent mb-6 pt-8 italic">
    <%= title "CrystalData" %>
  </h1>
  <h2 class="text-lg xl:text-2xl px-6">
    <%= description "Vos données métier, en ligne et en mobilité" %>
  </h2>
</section>


<div class="px-8">

  <%= image_tag "projets/crystal_data/screen_0.png", class:"px-10 w-3/4 mx-auto" %>

  <p class="text-2xl font-black mt-10">
    Application NO-CODE de base de données en ligne, qui vous permet de créer et de partager des tables de données variées
  </p>

  <p class="mt-5">
    Pour en savoir plus, veuillez consulter
    <%= link_to "le guide d'utilisation", "https://crystal-data.philnoug.com/a_propos", class: 'link', target: '_blank' %>
  </p>

  <h3 class="apps-title">Démonstration</h3>
  <p>
    Envie de tester l'application ?
    <%= link_to "Lancer l'instance de démonstration", 'https://crystal-data.philnoug.com', class:'link', target: '_blank' %>
  </p>

  <h3 class="apps-title">Projet libre (open-source)</h3>
  <p>
    Les sources de ce projet sont disponibles ici :
    <%= link_to "https://github.com/philippe-nougaillon/crystal-data7", "https://github.com/philippe-nougaillon/crystal-data7", class:'link', target: '_blank' %>
  </p> 

  <h3 class="apps-title">Développement</h3>
  <p>
    CrystalData est développé et maintenu par 
    <%= link_to 'Philippe NOUGAILLON (Consulting IT)', root_path, class:'link' %>
  </p>

  <h3 class="apps-title">Support et services</h3>
  <p>
    Vous souhaitez une nouvelle fonctionnalité ou installer CrystalData sur votre serveur Linux ?
    <%= link_to 'Consultez notre offre de services', '/services', class:'link' %>
  </p>
</div>
