
<section id="mention_légales_content">
  <h1 class="text-2xl mt-8">
    <%= title "Mentions légales" %> 
  </h1>
  <h2 class="text-xl font-black mt-8 mb-4">
    1. Éditeur du site
  </h2>
  <p class="mb-4">
    <%= @sitename %>
    <br>
    Directeur de la publication : Philippe Nougaillon<br>
    Siège social :<br>
    LE PLATEAU
    <br>
    Pôle de développement de l’entrepreneuriat 
    de l’EPT Grand Paris Grand Est
    <br>
    106-112 allée Notre Dame des Anges
    <br>
    93370 Montfermeil
    <br>
    France<br><br>

    SIRET : 384 396 719 00047
    <br>

    Tel : +33 (0)6 60 16 94 81<br>
    <br>
    Mail : <%= mail_to "contact@philnoug.com", class:"link" %>
  </p>

  <h2 class="text-xl font-black mt-8 mb-4">
    2. Conception et développement
  </h2>
  <p class="mb-4">
    Création du site en 2012
    <br>
    Ce site a été conçu et développé par nous-même en Ruby on Rails.
  </p>

  <h2 class="text-xl font-black mt-8 mb-4">
    3. Hébergement
  </h2>
  <p class="mb-4">
    <strong>Heroku Inc</strong>
    <br>
    1 Market St. Suite 300
    <br>
    San Francisco
    <br>
    CA 94105 USA.
    <br>
    Contact : <%= link_to "heroku.com/contact", "https://www.heroku.com/contact", target: '_blank', class:'link' %>
  </p>

  <h2 class="text-xl font-black mt-8 mb-4">
    2023 © <%= @sitename %> - Tous droits réservés
  </h2>
</section>