<h1 class="font-bold text-4xl text-center text-accent mb-6 pt-8">
  <i>LES PARTNERS</i>
</h1>

<div class="flex flex-col justify-center min-h-screen mx-4 mt-12 mb-48">
  <h2 class="text-center text-5xl font-bold mb-12 reveal">
    Notre SQUAD : la force d'un collectif
  </h2>
  <h3 class="font-bold text-2xl text-center reveal">
    Nous sommes tous très complémentaires mais indépendants
    <br>
    ce qui nous permet de vous proposer un service à 360°
  </h3>

  <div class="flex flex-col mx-8 md:mx-36 mt-24 gap-12">
    <div class="flex flex-wrap sm:flex-nowrap gap-8 reveal">
      <div class="mask mask-squircle grayscale">
        <%= image_tag "https://media.licdn.com/dms/image/C4E03AQG3P_kSXgKJ1g/profile-displayphoto-shrink_400_400/0/1632397665330?e=1683763200&v=beta&t=zRg-1wBMr68t4AwrE3ldzxcX2a7Nj5bUhqAHRLPeW1I" %>
      </div>
      <div>
        <h4 class="font-bold text-2xl">
          Pierre-Emmanuel
        </h4>
        <h5 class="italic text-xl">
          Développeur
        </h5>
        <p class="text-justify mt-4">
          Diplômé de la Tech&Code Factory,
          où j'ai été formé à la conception et au développement de solutions numériques.
          Je suis actuellement en 4e année de la Webschool Factory pour l'obtention du titre 'MANAGEUR DE L'INNOVATION NUMÉRIQUE'.
          <%= link_to "https://www.linkedin.com/in/pierre-emmanuel-dacquet" do %>
            <i class="fa-brands fa-linkedin"></i>
          <% end %>
        </p>
      </div>
    </div>

    <div class="flex flex-wrap sm:flex-nowrap gap-8 reveal">
      <div>
        <h4 class="text-right font-bold text-2xl">
          Nathan
        </h4>
        <h5 class="text-right italic text-xl">
          Product Manager
        </h5>
        <p class="text-justify mt-4">
          Issu d'un parcours à la croisée de l'entrepreneuriat et du Web, avec un diplôme en administration d'entreprise EDHEC et un master en Product Management,
          je me suis formé en autodidacte au design, et au développement Web et SEO.
          <%= link_to "https://www.linkedin.com/in/nathangrassin" do %>
            <i class="fa-brands fa-linkedin"></i>
          <% end %>
        </p>
      </div>
      <div class="mask mask-squircle grayscale">
        <%= image_tag "https://media.licdn.com/dms/image/D5603AQGVBZyQyq_duA/profile-displayphoto-shrink_400_400/0/1674316090425?e=1683763200&v=beta&t=P7AzX4LoVjjevRt2bemgZ6JzO9SmNed9SltqEYvYERA" %>
      </div>
    </div>

    <div class="flex flex-wrap sm:flex-nowrap gap-8 reveal">
      <div class="mask mask-squircle grayscale w-96">
        <%= image_tag "https://dam.malt.com/tegi8xa7kbgkfapnj91i?gravity=face&func=face&face_margin=60&w=440&h=440&force_format=webp" %>
      </div>
      <div>
        <h4 class="font-bold text-2xl">
          Claire
        </h4>
        <h5 class="italic text-xl">
          Social Media Manager & Graphiste
        </h5>
        <p class="text-justify mt-4">
          Munie d'une double casquette indispensable de nos jours, je suis spécialisée depuis maintenant plus de 7 ans dans le domaine du social média et le graphisme. J'aime les challenges et les nouveautés !
          <%= link_to "https://www.linkedin.com/in/claire-nguyen-5273b4bb" do %>
            <i class="fa-brands fa-linkedin"></i>
          <% end %>
        </p>
      </div>
    </div>

    <div class="flex flex-wrap sm:flex-nowrap gap-8 reveal">
      <div>
        <h4 class="text-right font-bold text-2xl">
          Jean-Baptiste
        </h4>
        <h5 class="text-right italic text-xl">
          UI-UX Designer
        </h5>
        <p class="text-justify mt-4">
          Designer pluridisciplinaire, je partage le fruit de plusieurs années de recherches, d'expérimentations et de connaissances sur mon métier.
          J’interviens à La Web School pour les cours d’intégration Web, ainsi qu’en Design d’interaction. Je donne également des cours pour les autres formations de l’Innovation Factory à savoir pour Tech&Code (HTML - CSS - Javascript et UX-UI Design), et à l’Étape Design (Branding et Wordpress).
          <%= link_to "https://www.linkedin.com/in/jean-baptiste-dacquet" do %>
            <i class="fa-brands fa-linkedin"></i>
          <% end %>
        </p>
        
      </div>
      <div class="mask mask-squircle w-full grayscale">
        <%= image_tag "https://media.licdn.com/dms/image/C5603AQFrdQ94yCzTBw/profile-displayphoto-shrink_400_400/0/1593444673332?e=1684368000&v=beta&t=QTNNegK8zqy-vqDoqwdmU-4d3Y-erF3VywJzZSVxOWE" %>
      </div>
    </div>

    <div class="flex flex-wrap sm:flex-nowrap gap-8 reveal">
      <div class="mask mask-squircle w-full grayscale">
        <%= image_tag "https://media.licdn.com/dms/image/C4E03AQGuWrNY6z_cMw/profile-displayphoto-shrink_400_400/0/1557207908956?e=1684368000&v=beta&t=FtrL2HwYSkRF5db-SgUUQ_9yws_p6O_NeLPEaTLoJ10" %>
      </div>
      <div>
        <h4 class="font-bold text-2xl">
          Sylvie
        </h4>
        <h5 class="italic text-xl">
          Executive Coach et Conseil en Management
        </h5>
        <p class="text-justify mt-4">
          Sylvie accompagne les dirigeants et leurs équipes pour mettre en cohérence actions et postures avec leur projet stratégique.
          Elle anime également des conférences sur les thèmes du management dans les organisations hybrides, écoute et leadership, devenir leader résilient, manager les paradoxes dans les organisations en transformation…
          Son approche s’inscrit dans un cadre de référence systémique (MBA de management général à HEC Paris), humaniste (Master RH à L'IGS Paris) et
          relationnel (Master of business coaching à International Mozaik).
          <%= link_to "https://www.linkedin.com/in/sylviemouchez" do %>
            <i class="fa-brands fa-linkedin"></i>
          <% end %>
        </p>
      </div>
    </div>
    
    <div class="flex flex-wrap sm:flex-nowrap gap-8 reveal">
      <div>
        <h4 class="text-right font-bold text-2xl">
          Philippe (alias Philnoug)
        </h4>
        <h5 class="text-right italic text-xl">
          
        </h5>
        <p class="text-justify mt-4">
          Entrepreneur, Développeur et Consultant, passionné d'Open-Source (Linux, Ruby on Rails), 
          avec une expérience de plus de 30 ans, je suis adepte de l'approche 'LEAN'. 
          Autodidacte, j'ai mené à bien plus de 50 projets et développé 5 applications open-source, tout en continuant à me former. 
          A l'écoute et force de proposition, j'aime répondre au mieux aux besoins client en livrant (dans les temps) des solutions économiques et adaptées. 
          Et comme j'ai maintenant plein d'histoires à raconter, je me suis engagé dans la formation de jeunes Développeurs et Product Manager (Mentorat OpenClassrooms).  
          <%= link_to "https://www.linkedin.com/in/philnoug/" do %>
            <i class="fa-brands fa-linkedin"></i>
          <% end %>
        </p>
        
      </div>
      <div class="mask mask-squircle w-full grayscale">
        <%= image_tag "https://media.licdn.com/dms/image/C4E03AQG0zsYlvbAZpQ/profile-displayphoto-shrink_400_400/0/1656574717843?e=1684368000&v=beta&t=Aqs9PqqHTG4BV9_EGEYRV5G6vVfNtZI6xPy-tVeC-fI" %>
      </div>
    </div>

  </div>
</div>