<section>
  <h1 class="font-black text-6xl text-center text-accent mb-6 pt-8 italic">
    <%= title "La Team / les Partners" %>
  </h1>
  <h2 class="text-center text-3xl lg:text-4xl font-black mt-12">
    <%= description "Une SQUAD pour un service à 360°" %>
  </h2>
</section>

<section class="flex flex-col justify-center min-h-screen mb-48">
  <div class="flex flex-col mt-24 gap-12">
    <div class="flex flex-col-reverse sm:flex-row flex-wrap sm:flex-nowrap gap-8 reveal">
      <div>
        <h4 class="sm:text-right font-black text-2xl text-accent">
          Philippe
        </h4>
        <h5 class="sm:text-right italic text-xl">
          Product Owner
        </h5>
        <p class="text-justify mt-4">
          Entrepreneur, Développeur et Consultant, passionné d'informatique Open-Source, 
          avec une expérience de plus de 30 ans, je suis adepte des approches 'XP / RAD / AGILE / LEAN / SCRUM'. 
          J'ai mené à bien plus de 50 projets (développement, transformation digitale, rénovation de système d'information)
          et développé 3 applications open-source, tout en continuant à me former. 
          A l'écoute et force de proposition, j'aime répondre au mieux aux besoins client en livrant (dans les temps) des solutions économiques et adaptées. 
          Et comme j'ai maintenant plein d'histoires à raconter, je me suis engagé dans la formation et le mentorat de jeunes Développeurs et Product Managers (WebSchoolFactory / OpenClassrooms / Simplon).  
          <%= link_to "https://www.linkedin.com/in/philnoug/" do %>
            <i class="fa-brands fa-linkedin"></i>
          <% end %>
        </p>
        
      </div>
      <%= image_tag "partners/philippe.webp",
          class: "mask mask-hexagon-2 object-contain h-48 w-96 mx-auto grayscale opacity-70"
      %>
    </div>

    <div class="flex flex-wrap sm:flex-nowrap gap-8 reveal">
      <%= image_tag "partners/pierre-emmanuel.webp", 
          class: "mask mask-hexagon-2 object-contain h-48 w-96 mx-auto grayscale opacity-70"
      %>
      <div>
        <h4 class="font-black text-2xl text-accent">
          Pierre-Emmanuel
        </h4>
        <h5 class="italic text-xl">
          Développeur
        </h5>
        <p class="text-justify mt-4">
          Diplômé de la Tech&Code Factory,
          où j'ai été formé à la conception et au développement de solutions numériques.
          Je suis actuellement en 5e année de la Webschool Factory pour l'obtention 
          du titre 'MANAGEUR DE L'INNOVATION NUMÉRIQUE', en contrat d'apprentissage chez 'Philippe NOUGAILLON (Consulting IT)'.
          <%= link_to "https://www.linkedin.com/in/pierre-emmanuel-dacquet" do %>
            <i class="fa-brands fa-linkedin"></i>
          <% end %>
        </p>
      </div>
    </div>

    <h2 class="text-center text-4xl lg:text-5xl text-accent font-black mt-24 mb-12">
      Partners
    </h2>

    <div class="flex flex-col-reverse sm:flex-row flex-wrap sm:flex-nowrap gap-8 reveal">
      <div>
        <h4 class="sm:text-right font-black text-2xl text-accent">
          Nathan
        </h4>
        <h5 class="sm:text-right italic text-xl">
          Product Manager
        </h5>
        <p class="text-justify mt-4">
          Issu d'un parcours à la croisée de l'entrepreneuriat et du Web, avec un diplôme en administration d'entreprise EDHEC et un master en Product Management,
          je me suis formé en autodidacte au design, et au développement Web et SEO.
          <%= link_to "https://www.linkedin.com/in/nathangrassin" do %>
            <i class="fa-brands fa-linkedin"></i>
          <% end %>
        </p>
      </div>
        <%= image_tag "partners/nathan.webp",
            class: "mask mask-hexagon-2 object-contain h-48 w-96 mx-auto grayscale opacity-70"
        %>
    </div>

    <div class="flex flex-wrap sm:flex-nowrap gap-8 reveal">
      <%= image_tag "partners/claire.webp",
          class: "mask mask-hexagon-2 object-contain h-48 w-96 mx-auto grayscale opacity-70"
      %>
      <div>
        <h4 class="font-black text-2xl text-accent">
          Claire
        </h4>
        <h5 class="italic text-xl">
          Graphiste
        </h5>
        <p class="text-justify mt-4">
          Munie d'un master en Communication Digitale et Design, j'accompagne les petites et grandes entreprises 
          dans la création et l'optimisation de leurs supports de communication visuelle, événementielle et digitale. 
          Création de logo, flyer, affiche, catalogue, bannière web… La créativité n'a pas de limite !
          <%= link_to "https://www.linkedin.com/in/claire-nguyen-5273b4bb" do %>
            <i class="fa-brands fa-linkedin"></i>
          <% end %>
        </p>
      </div>
    </div>

    <div class="flex flex-col-reverse sm:flex-row flex-wrap sm:flex-nowrap gap-8 reveal">
      <div>
        <h4 class="sm:text-right font-black text-2xl text-accent">
          Jean-Baptiste
        </h4>
        <h5 class="sm:text-right italic text-xl">
          UI-UX Designer
        </h5>
        <p class="text-justify mt-4">
          Je suis Designer pluridisciplinaire. Mon champ d’expertise, initialement centré sur le Design Graphique, 
          traverse aujourd’hui différents savoirs-faire : en Design ( UX / UI / Branding ), 
          en intégration web ( HTML / CSS / Wordpress ) et en pédagogie ( jeux pédagogiques / formation blended / e-learning ).
          <%= link_to "https://www.linkedin.com/in/jean-baptiste-dacquet" do %>
            <i class="fa-brands fa-linkedin"></i>
          <% end %>
        </p>
      </div>
      <%= image_tag "partners/jean-baptiste.webp",
          class: "mask mask-hexagon-2 object-contain h-48 w-96 mx-auto grayscale opacity-70"
      %>
    </div>

    <div class="flex flex-wrap sm:flex-nowrap gap-8 reveal">
      <%= image_tag "partners/sylvie.webp",
          class: "mask mask-hexagon-2 object-contain h-48 w-96 mx-auto grayscale opacity-70"
      %>
      <div>
        <h4 class="font-black text-2xl text-accent">
          Sylvie
        </h4>
        <h5 class="italic text-xl">
          Executive Coach et Conseil en Management
        </h5>
        <p class="text-justify mt-4">
          Sylvie accompagne les dirigeants et leurs équipes pour mettre en cohérence actions et postures avec leur projet stratégique.
          Elle anime également des conférences sur les thèmes du management dans les organisations hybrides, écoute et leadership, devenir leader résilient, manager les paradoxes dans les organisations en transformation…
          Son approche s’inscrit dans un cadre de référence systémique (MBA de management général à HEC Paris), humaniste (Master RH à L'IGS Paris) et
          relationnel (Master of business coaching à International Mozaik).
          <%= link_to "https://www.linkedin.com/in/sylviemouchez" do %>
            <i class="fa-brands fa-linkedin"></i>
          <% end %>
        </p>
      </div>
    </div>

  </div>

  <h3 class="font-black text-2xl text-center reveal mt-24">
    Nous sommes tous complémentaires mais indépendants,
    <br>
    ce qui fait la force de notre collectif.
  </h3>
</div>