<div class="text-center mb-16">
  <h1 class="font-bold text-4xl text-accent mb-6 pt-8">
    <i>PLANNING</i>
  </h1>
  <h2 class="xl:text-2xl text-accent mt-6 px-10">
    Planning à l’usage d’un établissement de l’enseignement supérieur.
  </h2>
</div>

<div class="p-8">
  <p class="text-2xl mb-8">
    Collaborative, flexible et simple d'utilisation, cette application a été initialement développée pour l'IAE de Paris (Sorbonne Business School - Université Paris 1 Panthéon-Sorbonne) dans le but d'offrir une alternative à l'outil Hyperplanning, qui était complexe et surdimensionné pour un usage interne.
    <br><br>
    De la création des planning à l’édition des feuille d'émargement, en passant par les états de services, cette application assure la gestion complète et collaborative des processus de planification des cours, formation, intervenants, etc.
  </p>

  <%= image_tag "projets/planning iae-paris/screen_0.png" %>
  <br>

  <h2 class="!text-2xl !font-bold my-4">Projet Open-Source</h2>
  <p>
    Les sources de ce projet sont disponibles ici :
    <%= link_to "https://github.com/philippe-nougaillon/Planning_IAE", "https://github.com/philippe-nougaillon/Planning_IAE", class:'link' %>
  </p>

  <h2 class="solutions-title">Développement</h2>
  <p>
    PLANNING IAE est développé et maintenu par 
    <%= link_to 'Philnoug & Partners', root_path, class:'link' %>
  </p>

  <h2 class="solutions-title">Support et services</h2>
  <p>
    Vous souhaitez une nouvelle fonctionnalité ou installer PLANNING IAE sur votre serveur Linux ?
    <br>
    <%= link_to 'Consultez notre offre de services', '/services', class:'link' %>
  </p>

  <p class="text-2xl mt-4">
    Pour en savoir plus, veuillez consulter 
    <%= link_to "le README", "https://github.com/philippe-nougaillon/Planning_IAE#readme", class: 'link' %>
  </p>

</div>
