<div class="text-center mb-8">
  <h1 class="font-bold text-4xl text-accent mb-16 pt-8">
    <i>PLANNING IAE</i>
  </h1>
  <h2 class="xl:text-2xl text-accent mt-6 px-6">
    Logiciel libre et coopératif de gestion de planning, à l’usage d’établissement de l’enseignement supérieur
  </h2>
</div>

<%= image_tag "projets/planning iae-paris/screen_0.png", width: "80%", class: "mx-auto shadow reveal" %>

<div class="p-8">
  <p class="text-2xl">
    Collaborative, flexible et simple d'utilisation, cette application a été initialement développée pour l'IAE de Paris (Sorbonne Business School - Université Paris 1 Panthéon-Sorbonne) dans le but d'offrir une alternative à l'outil en place (HYPERplanning), qui était complexe, fermé et surdimensionné pour un usage courant.
  </p>
</div>

<div class="p-8">
  <p class="text-2xl">
    Principaux atouts :
  </p>
  <ul class="list-disc p-3">
    <li>Gestion coopérative des emplois du temps (planning) et des salles</li> 
    <li>Vérification des contraintes au moment de l'enregistrement d'un cours (capacité, intervenant libre, jours de fermeture, etc.)</li>
    <li>Recherche automatique d'une salle disponible</li>
    <li>Système d'envoi et de gestion de propositions de créneaux horaires par email à plusieurs intervenants (Workflow)</li>
    <li>Facturation des heures CEV effectuées via les états de services</li>
    <li>Gestion du workflow documentaire des dossiers de candidatures</li>
    <li>Simulateur du planning des regroupements</li>
  </ul>
</div>

<div class="p-8">

  <h2 class="apps-title">En savoir plus ?</h2>
  <p>
    <%= link_to "Voir le mémo de l'utilisateur", guide_planning_path, class:"link" %>
  </p>

  <h2 class="text-2xl font-bold my-4">Projet Open-Source</h2>
  <p>
    Les sources de ce projet sont disponibles ici :
    <%= link_to "https://github.com/philippe-nougaillon/Planning_IAE", "https://github.com/philippe-nougaillon/Planning_IAE", class:'link' %>
  </p>

  <h2 class="apps-title">Développement</h2>
  <p>
    PLANNING IAE est développé et maintenu par 
    <%= link_to 'Philnoug & Partners', root_path, class:'link' %>
  </p>

  <h2 class="apps-title">Support et services</h2>
  <p>
    Vous souhaitez une nouvelle fonctionnalité ou installer PLANNING IAE sur votre serveur Linux ?
    <%= link_to 'Consultez notre offre de services', '/services', class:'link' %>
  </p>

  <h2 class="apps-title">Démonstration</h2>
  <p>
    Envie de tester le produit ?
    <%= link_to 'Demander une démonstration', '/contact', class:'link' %>
  </p>

</div>
