<div class="text-center mb-16">
  <h1 class="font-bold text-4xl text-accent mb-6 pt-8">
    <i>PRESTOFACTO</i>
  </h1>
  <h2 class="xl:text-2xl text-accent mt-6 px-10">
    Application de facturation de services journaliers.
  </h2>
</div>

<div class="p-8">
  <p class="text-2xl font-bold mb-8">
    PrestoFacto aide les petites organisations dans la gestion 
    et la facturation de leurs prestations journalières (repas, garderie, activités, etc.)
  </p>

  <p class="text-xl mb-4">
    Cette application web permet à une organisation (mairie, association, école, centre de loisirs...) 
    de gérer les comptes de ses familles, les réservations et absences des enfants et la facturation 
    des prestations consommées. Les prestations et les tarifs sont entièrement paramétrables et illimités.
  </p>
  
  <p class="mb-8">
    Historique : en 2020, après plus de 10 ans de bons et loyaux services, openCantine fait sa mue, a changé de nom, s'est professionnalisé pour devenir PrestoFacto.
    <br> 
    Ce projet était au départ conçu pour donner un petit coup de main à une mairie qui gérait péniblement sa cantine sur Excel. 
    Mais la publication du code en opensouce et la mise à disposition gratuite de la plateforme a permis à plus de 50 mairies ou associations de facturer plus de 400 000 repas
    <br>
    openCantine était adapté aux petites structures et a toujours quelques fervents utilisateurs, mais les structures plus importantes ne pouvaient s'en contenter,
    c'est pourquoi j'ai réécrit un autre logiciel, PrestoFacto, plus souple et adaptable, qui conviendra à des organisations de plus grande taille et multi-structures.
  </p>

  <p class="text-xl">
    Pour en savoir plus, veuillez consulter 
    <%= link_to "le guide d'utilisation", "https://www.prestofacto.fr", class: 'link' %>
  </p>
</div>

<div class="p-8">
  <h2 class="solutions-title">Projet Open-Source</h2>
  <p>
    Les sources de ce projet sont disponibles ici :
    <%= link_to "https://github.com/philippe-nougaillon/PrestoFacto", "https://github.com/philippe-nougaillon/PrestoFacto", class:'link' %>
  </p>

  <h2 class="solutions-title">Développement</h2>
  <p>
    PrestoFacto est développé et maintenu par 
    <%= link_to 'Philnoug & Partners', root_path, class:'link' %>
  </p>

  <h2 class="solutions-title">Support et services</h2>
  <p>
    Vous souhaitez une nouvelle fonctionnalité ou installer PrestoFacto sur votre serveur Linux ?
    <%= link_to 'Consultez notre offre de services', '/services', class:'link' %>
  </p>

  <h2 class="solutions-title">Démonstration</h2>
    <p>
      Envie de tester le produit ?
      <%= link_to 'Lancer la démonstration', 'https://www.prestofacto.fr/', class:'link', target: '_blank' %>
    </p>
    <br><br>  
</div>
