<!DOCTYPE html>
<html lang="fr" data-theme="lofi">
  <head>
    <title><%= @sitename_short %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'partials/favicon' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>

    <%= render 'partials/gtag' %>

    <script>
window.axeptioSettings = {
  clientId: "62e266935e8f7fc2c1ca72bf",
  cookiesVersion: "portfolio-philnoug/-fr",
};
 
(function(d, s) {
  var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
  e.async = true; e.src = "//static.axept.io/sdk.js";
  t.parentNode.insertBefore(e, t);
})(document, "script");
</script>
  </head>

  <body>
    <%= render partial: "partials/navbar" %>
    <%= render partial: "partials/notification" %>
    <main class="mt-6 px-2 sm:px-5 mb-12">
      <%= yield %>
    </main>
  </body>
</html>
